

/*
Colors used

Text Color (navy;red): #;
Primary Color (lightblue): #;
Secondary Color (): #;
 */
 :root {
   --primary-color: #1f5a78; /*color most frequently displayed*/
   --secondary-color: #f8f8f8;/*floating action buttons, selection controls, sliders & switches, highlighting selected text, Progress bars, Links and headlines*/
   --backgroundcolor: white; /*background doesnt represent brand, appears behind scrollable content*/

   --bodyfontfamily: 'Azeret Mono', sans-serif;
   --bodycolor: black;
   --bodyfontweight: 300;
   --bodyfontsize: 16px;
   --bodylineheight: 1.6;

   --h1color: black;
   --h1fontsize: 30px;
   --h1fontweight: 700;

   --h2color: black;
   --h2fontsize: 24px;
   --h2fontweight: 700;

   --h3color: red;
   --h3fontsize: 18px;
   --h3fontweight: 700;


 }



body {
  color: var(--bodycolor);
  background-color: var(--backgroundcolor);
  font-family: var(--bodyfontfamily);
  font-weight: var(--bodyfontweight);
  font-size: var(--bodyfontsize);
  line-height: var(--bodylineheight);
}

h1 {
  color: var(--h1color);
  font-size: var(--h1fontsize);
  font-weight: var(--h1fontweight);
}

h2 {
  color: var(--h2color);
  font-size: var(--h2fontsize);
  font-weight: var(--h2fontweight);
  font-variant: small-caps;
}

h3 {
  color: var(--h3color);
  font-size: var(--h3fontsize);
  font-weight: var(--h3fontweight);
}



a {
  color: #1f5a78;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

a:active {
  background-color: #1f5a78;
  color: #fff;
}





/* Button style */

.button {
  display: inline-block;
  width: 200px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

.button-primary {
  border: none;
  font-family: inherit;
  background-color: #1f5a78;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  -webkit-transition: 0.3s opacity;
  -o-transition: 0.3s opacity;
  transition: 0.3s opacity;
}

#submit-btn {
  border: none;
  font-family: inherit;
  background-color: #1f5a78;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  -webkit-transition: 0.3s opacity;
  -o-transition: 0.3s opacity;
  transition: 0.3s opacity;
}

.button-primary:hover,
#submit-btn:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.6;
}

.button-secondary {
  border: 1px solid #1f5a78;
  font-family: inherit;
  background-color: #fff;
  color: #1f5a78;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}

.button-secondary:hover {
  background-color: #1f5a78;
  color: #fff;
  text-decoration: none;
}





.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}



.profile {
  max-width: 700px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #1f5a78;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item--active {
  text-decoration: none;
  font-size: 22px;
}

.grid {
  display: grid;
}

.grid__item {
  background-color: var(--secondary-color);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}



/* About page*/


.about {
  max-width: 700px;
  margin: 0 auto;
}



/* contact page*/

.contact {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}



form {
  background: #f8f8f8;
  width: 350px;
  margin: 30px auto 0;
  text-align: left;
  padding: 30px;
  border-radius: 8px;
}

.field {
  display: block;
  width: 100%;
  margin: 5px 0 20px;
  padding: 5px;
}

#submit-btn {
  display: block;
  margin: 0 auto;
}









/* About page animation*/



.sun {
  animation: 4s color-change infinite alternate linear;
}


@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 15s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 16s cloud-move-reverse infinite alternate linear;
}





/* @media and allow you to specify at which size
certain rules should be applied.*/

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}
